.ticketNumber {
    width: 68px;
    height: 68px;
    font-size: 20px;
    margin: 20px 5px;
    display: inline-block;
    border: 2px solid #7a7a7a;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.title {
    font-family: "Montserrat";
    font-size: 20px;
    color: #7a7a7a;
    text-transform: uppercase;
    padding: 25px 0 0 0;
}

.prize {
    font-family: "Montserrat";
    font-size: 25px;
    color: #7a7a7a;
    text-transform: uppercase;
}

.button {
    width: 250px;
    display: inline-block;
    padding: 10px 20px;
    margin: 65px 0 20px 0;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #7a7a7a;
    border: none;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
}

.ticketPrice {
    font-size: 15px;
    padding: 5px 0 0 0;
    font-family: 'Roboto', sans-serif;
}

.button:hover {
    background-color: #54595f;
}

.button:active {
    background-color: #54595f;
    transform: translateY(1px);
}

.center {
    margin: auto;
    width: 100%;
    text-align: center;
}

.desc {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}