/* Smallest devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 100px) {
    .prizeAmount {
        color: transparent;
        background: url("https://media.giphy.com/media/tHcmh8ig94QXEKNAsp/giphy.gif");
        background-position: center bottom;
        background-repeat: repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: rgb(255, 234, 47);
        font-size: 50px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }
    .winnersTitle {
        color: transparent;
        background: url("https://media.giphy.com/media/tHcmh8ig94QXEKNAsp/giphy.gif");
        background-position: center bottom;
        background-repeat: repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: rgb(255, 234, 47);
        font-size: 110px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        margin: 0 0 50px 0;
        text-align: center;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .prizeAmount {
        color: transparent;
        background: url("https://media.giphy.com/media/tHcmh8ig94QXEKNAsp/giphy.gif");
        background-position: center bottom;
        background-repeat: repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: rgb(255, 234, 47);
        font-size: 85px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }
    .winnersTitle {
        color: transparent;
        background: url("https://media.giphy.com/media/tHcmh8ig94QXEKNAsp/giphy.gif");
        background-position: center bottom;
        background-repeat: repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: rgb(255, 234, 47);
        font-size: 110px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        margin: 0 0 50px 0;
        text-align: center;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .prizeAmount {
        color: transparent;
        background: url("https://media.giphy.com/media/tHcmh8ig94QXEKNAsp/giphy.gif");
        background-position: center bottom;
        background-repeat: repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: rgb(255, 234, 47);
        font-size: 110px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }
    .winnersTitle {
        color: transparent;
        background: url("https://media.giphy.com/media/tHcmh8ig94QXEKNAsp/giphy.gif");
        background-position: center bottom;
        background-repeat: repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: rgb(255, 234, 47);
        font-size: 110px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        margin: 0 0 50px 0;
        text-align: center;
    }
}