.slottoStatus {
    text-align: center;
    color: #fff;
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    ;
}

.drawStatus {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    ;
}