:root {
    background: #222222;
    ;
}

a {
    color: inherit;
}

a:hover {
    color: #7f8ff4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
    height: 50px;
}

.btn--primary {
    background: #7f8ff4;
    color: #fff;
    border-radius: 2px;
    padding: 12px 36px;
}

.btn--primary:hover {
    background: #6c7ff2;
}

.btn--primary:active {
    background: #7f8ff4;
}

.btn--inside {
    margin-left: -96px;
}

.form__field {
    width: 350px;
    background: #fff;
    color: #a3a3a3;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: 0;
    outline: 0;
    padding: 22px 18px;
    box-shadow: 1.5px 1.5px 0 1px #ccc;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a3a3a3;
    opacity: 0.8;
    /* Firefox */
}

.ticketStatus {
    text-align: center;
    color: #ccc;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 30px 0 0 0;
}

.smallLetters {
    text-align: center;
    color: #ccc;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 30px 0 0 0;
}