.darkBackground {
    background: #222222;
}

.button {
    width: 250px;
    display: inline-block;
    padding: 10px 20px;
    margin: 65px 0 10px 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #7a7a7a;
    border: none;
    border-radius: 6px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}

.desc {
    width: 100%;
    margin: 20px 0;
    text-align: center;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .deepShadow {
        font-family: 'Open Sans', sans-serif;
        font-size: 70px;
        color: #e0dfdc;
        letter-spacing: .1em;
        text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
    }
    .ticketNumber {
        width: 75px;
        height: 90px;
        font-size: 32px;
        margin: 20px 2px;
        border-radius: 8px;
        box-sizing: border-box;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        color: #ff34a0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 1.5px 1.5px 0 1px #ccc;
    }
    .ticketPrice {
        font-size: 18px;
        padding: 5px 0 0 0;
        font-family: 'Ubuntu', sans-serif;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .deepShadow {
        font-family: 'Open Sans', sans-serif;
        font-size: 90px;
        color: #e0dfdc;
        letter-spacing: .1em;
        text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
    }
    .ticketNumber {
        width: 85px;
        height: 95px;
        font-size: 40px;
        margin: 20px 5px;
        border-radius: 8px;
        box-sizing: border-box;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        color: #ff34a0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 1.5px 1.5px 0 1px #ccc;
    }
    .ticketPrice {
        font-size: 18px;
        padding: 5px 0 0 0;
        font-family: 'Ubuntu', sans-serif;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .deepShadow {
        font-family: 'Open Sans', sans-serif;
        font-size: 90px;
        color: #e0dfdc;
        letter-spacing: .1em;
        text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
    }
    .ticketNumber {
        width: 85px;
        height: 95px;
        font-size: 40px;
        margin: 20px 5px;
        border-radius: 8px;
        box-sizing: border-box;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        color: #ff34a0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 1.5px 1.5px 0 1px #ccc;
    }
    .ticketPrice {
        font-size: 18px;
        padding: 5px 0 0 0;
        font-family: 'Ubuntu', sans-serif;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .deepShadow {
        font-family: 'Open Sans', sans-serif;
        font-size: 90px;
        color: #e0dfdc;
        letter-spacing: .1em;
        text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
    }
    .ticketNumber {
        width: 85px;
        height: 95px;
        font-size: 40px;
        margin: 20px 5px;
        border-radius: 8px;
        box-sizing: border-box;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        color: #ff34a0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 1.5px 1.5px 0 1px #ccc;
    }
    .ticketPrice {
        font-size: 18px;
        padding: 5px 0 0 0;
        font-family: 'Ubuntu', sans-serif;
    }
}

.draw-border {
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    transition: color 0.25s 0.08333s;
    position: relative;
}

.draw-border::before,
.draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover {
    color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
    border-color: #ffe593;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.drawbtn {
    width: 282px;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
    margin: 50px 0 10px 0;
}

.drawbtn:focus {
    outline: 2px dotted #55d7dc;
}

.center {
    margin: auto;
    width: 100%;
    text-align: center;
}