.ticketNumber {
    width: 85px;
    height: 95px;
    font-size: 40px;
    margin: 20px 6px;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #ea4c4c;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1.5px 1.5px 0 1px #ccc;
}

.darkBackground {
    background: #222222;
}

.title {
    background: url("https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif");
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    color: transparent;
    font-size: 90px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.prize {
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.button {
    width: 250px;
    display: inline-block;
    padding: 10px 20px;
    margin: 65px 0 10px 0;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #7a7a7a;
    border: none;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
}

.ticketPrice {
    font-size: 15px;
    padding: 5px 0 0 0;
    font-family: 'Roboto', sans-serif;
}

.center {
    margin: auto;
    width: 100%;
    text-align: center;
}

.desc {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
}

.draw-border {
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    transition: color 0.25s 0.08333s;
    position: relative;
}

.draw-border::before,
.draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover {
    color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
    border-color: #ffe593;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.drawbtn {
    width: 282px;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    margin: 65px 0 10px 0;
}

.drawbtn:focus {
    outline: 2px dotted #55d7dc;
}